[Desktop Entry]
Type=Application
Name=OLED Saver
Comment=Small tool to prevent your device from standby
Comment[de]=Kleines Tool, um zu verhindern, dass Ihr Gerät in den Standby-Modus geht
Exec=bastis-oledsaver %U
Icon=free.basti.oledsaver
Categories=Utility;
MimeType=application/x-basti-oledsaver;
StartupWMClass=OLED-Saver
X-Flatpak=free.basti.oledsaver
X-AppStream-Metadata=free.basti.oledsaver.metainfo.xml
X-AppStream-Screenshot=share/pixmaps/oledsaver_preview_img2.png
